*{
    overflow-x: hidden;
}
.nav-bar{
    margin-top: 20px;
}
.nav-items{
    margin-right: 30px;
    color:black;
    font-weight: bold;
}
.button{
    
}
.heading_one{
    font-weight:bold;
    background: -webkit-linear-gradient(#4285F4, #6563EF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.para{
    font-size: 14px;
}
.howtouse{
    cursor: pointer;
    color:#20C1CB;
}
