*{
    overflow-x: hidden;
}
.nav-bar{
    margin-top: 20px;
}
.nav-items{
    margin-right: 30px;
    color:black;
    font-weight: bold;
}
.button{
    color:white;
    background-color: blue;
    height:35px;
    width:130px;
}